# Ignore Python caches and virtual environment folders
__pycache__/
moon-gpt
*.pyc
*.pyo
*.pyd


node_modules/
.env
__pycache__/
*.log
.env
# Ignore virtual environment directories
env/
venv/
Resume/lib/
Resume/Lib/
Resume/bin/

# Ignore system-specific files
.DS_Store

# Ignore node_modules for the React frontend
moon-gpt-frontend/node_modules/

# If you have build outputs or logs, ignore them too
moon-gpt-frontend/build/
*.log# Ignore Python caches and virtual environment folders
__pycache__/
moon-gpt
*.pyc
*.pyo
*.pyd


node_modules/
.env
__pycache__/
*.log
# Ignore virtual environment directories
env/
venv/
Resume/lib/
Resume/Lib/
Resume/bin/

# Ignore system-specific files
.DS_Store

# Ignore node_modules for the React frontend
moon-gpt-frontend/node_modules/

# If you have build outputs or logs, ignore them too
moon-gpt-frontend/build/
*.log
test.pyc
config.json.streamlit/secrets.toml
config.json
config.json
